<div class="row">
  <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    <div class="card">
      <div class="card-header bg-primary text-light">
        <h5 class="d-inline">Tareas</h5>
        <div class="float-right">
          <button class="btn btn-sm btn-warning" (click)="createForm.open()">
            CREAR
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="input-group">
          <input type="search" class="form-control" [(ngModel)]="query" />
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush mx-0">
        <li
          class="list-group-item px-4 pb-0"
          *ngFor="let task of results"
          @fadeLeft
        >
          <div class="row">
            <div class="col-sm-6">
              <span class="badge badge-primary">
                Fecha Limite {{ task.limit | date }}
              </span>
            </div>
            <div class="col-sm-6 ">
              <div class="float-sm-right">
                <app-task-complete
                  [task]="task"
                  (completed)="update($event)"
                ></app-task-complete>
                <a
                  href="javascript:;"
                  class="badge badge-warning ml-3"
                  title="Editar"
                  (click)="editForm.open(task)"
                  ><span class="fa fa-edit"></span>
                </a>
                <a
                  href="javascript:;"
                  class="badge badge-danger ml-1"
                  title="Eliminar"
                  (click)="destroy(task)"
                  ><span class="fa fa-times"></span>
                </a>
              </div>
            </div>
          </div>

          <p class="text-justified">{{ task.name }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-task-form #createForm (submited)="create($event)"></app-task-form>
<app-task-form #editForm (submited)="edit($event)"></app-task-form>
